<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <ul class="navbar-nav mr-auto">

    <li class="nav-item">
      <a class="nav-link" href="#">Home</a>
    </li>

    <li ngbDropdown class="nav-item">
      <a ngbDropdownToggle id="navbarFile" class="nav-link dropdown-toggle" role="button"> File </a>
      <div ngbDropdownMenu aria-labelledby="navbarFile" class="dropdown-menu">
        <a class="dropdown-item" routerLink="/lesson-edit-form">Lesson Edit Form...</a>
        <a class="dropdown-item" routerLink="/lesson-search">Lesson Search...</a>
        <a class="dropdown-item" routerLink="/lesson-list">Lesson List...(Explore lessons...)</a>
        <a class="dropdown-item" href="#">Import...</a>
        <a class="dropdown-item" href="#">New...</a>
        <a class="dropdown-item" href="#">Export...</a>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">Study Now</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">Progresses Statistics</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">Achievements</a>
    </li>

    <li ngbDropdown class="nav-item">
      <a ngbDropdownToggle id="navHelp" class="nav-link dropdown-toggle" role="button"> Help </a>
      <div ngbDropdownMenu aria-labelledby="navHelp" class="dropdown-menu">
        <a class="dropdown-item" href="#">Glossary</a>
        <a class="dropdown-item" href="#">Documentation</a>
        <a class="dropdown-item" href="#">About</a>
      </div>
    </li>

    <li ngbDropdown class="nav-item">
      <a ngbDropdownToggle id="navProfile" class="nav-link dropdown-toggle" role="button"> Profile </a>
      <div ngbDropdownMenu aria-labelledby="navProfile" class="dropdown-menu">
        <a class="dropdown-item" href="#">Logout / Login</a>
        <a class="dropdown-item" href="#">Settings</a>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/test-page1">Test Page1</a>
    </li>

  </ul>
</nav>
